@import "../../../utils/variables.scss";

.Input{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 3rem !important;
    width: 40%;
    font-size: 1rem;
    outline: 0;
    border: none;
    box-shadow: 0px 0px 5px 0px $DarkGray;
    border-radius: 0.5rem;
    @include nunitoSans-300;
    @include pequeno{
        width: calc(100% - 4rem);
        margin-top: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    &::placeholder{
		@include nunitoSans-600;
	}
    background: url('../../../assets/img/magnifying-glass-solid.svg') no-repeat scroll 12px 1.1rem;
    background-size: 20px;
    padding-left:30px;


}
